<div class="footer">
    <a href="https://www.facebook.com/"><img src="assets/facebook.png"></a>
    <a href=""><img src="assets/insta.png" alt=""></a>
    <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><img src="assets/twitter.png" alt=""></a>
    <a href="https://www.linkedin.com/in/naveen-nelogal-02062a1a4/"><img src="assets/linkedin.png" alt=""></a><br><br>
    <a href="">Info</a><a href="">.</a> 
    <a href="">Career</a><a href="">.</a>
    <a href="">Marketing</a><br>
    <a href="">Terms of Use</a>
    <a href="">Privacy Policy</a><br><br>
    <p>© 2023 RoyalEnield support</p>
</div>