.footer{
    background-color: rgb(6, 6, 45);
    height: 300px;
    width: 100%;
    padding-top: 120px;
    padding-left: 650px;
}
.footer img{
    height: 50px;
    width: 50px;
}

.footer a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
p{
    color: rgb(106, 99, 99);
}