<nav class="sticky-top">
    <img src="assets/logo1.jpg" alt="">
    <ul>
      <li><a class="home" routerLinkActive="active" routerLink="/Home">Home</a></li>
      <li><a class="reservice" routerLinkActive="active" routerLink="/BikeService">Services</a></li>
      <li><a class="about" routerLinkActive="active" routerLink="/About">About</a></li>
      <li><a class="contact" routerLinkActive="active" routerLink="/Contact">Contact</a></li>
      <li><a class="login" routerLinkActive="active" routerLink="/Login">Login</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
