<!-- <div class="login">
    <div class="card">
        <div class="card-header">
            <h1>Login</h1>
        </div>
        <div class="card-body">
            Name : <input type="text" required><br><br>
            Email : <input type="text"><br><br>
            Phone : <input type="text"><br><br>
            <button class="btn btn-danger" (click)="login()"> Submit</button>
        </div>
    </div>
</div> -->


<body>
    
      <h1>Contact Us</h1>

      <form action="submit-form.php" method="post">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
  
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
  
          <label for="message">Phone:</label>
          <textarea id="message" name="message" required></textarea>
  
          <input type="submit" value="Submit">
      </form>
  </body>