.aboutus{
    background-image: url("contact.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-left: 500px;
}
.card{
    width:50%;
    padding: 25px;
    background-color: rgb(255, 255, 255,0.4) ;
    padding-bottom: 100px;
}
.card p{
    color: white;
}