<div class="aboutus">
    <div class="card">
        <p>Welcome to our bike service website! We are a team of experienced professionals dedicated to providing top-quality bike maintenance and repair services to our customers.
            Our goal is to keep your bike in the best possible condition so that you can enjoy your rides without any worries. We understand that your bike is more than just a mode of transportation – it’s a part of your lifestyle.
            At our bike service website, we are committed to providing excellent customer service. 
            Thank you for choosing our bike service website. We look forward to working with you and helping you keep your bike in top-notch condition</p>
    </div>
</div>