<h1 style="padding-left: 550px;">Royal Enfield Bikes</h1>
<br><br>

<div class="cards">
    <article class="card p-3 m-2">
        <header>
            <h2>Classic 350</h2>
        </header>    
        <img src="https://c4.wallpaperflare.com/wallpaper/30/828/862/2013-bullet-classic-enfield-wallpaper-preview.jpg">
        <div class="content">
            <p> The Royal Enfield Classic 350 is powered by a 349.34 cc air-cooled engine which produces of power. It has a fuel tank of 13 L and a . The Royal Enfield Classic 350 starts at Rs 1.90 and goes up to Rs 2.21 Lakh (ex-showroom, Delhi). It is available in six variants. </p>
        </div>
        <footer>4.1 ⭐ <a href="https://www.bikedekho.com/royal-enfield/classic-350/specifications"><button class="btn btn-success">more....</button></a></footer>
    </article>
            
     <article class="card p-3 m-2">
        <header>
            <h2>Himalayan</h2>
        </header>    
        <img src="https://w0.peakpx.com/wallpaper/552/370/HD-wallpaper-himalayan-bike-motorcycle-night-racer-rider-royalenfield.jpg" alt="Hot air balloons">
        <div class="content">
            <p> The Royal Enfield Himalayan is powered by a 411 cc air-cooled engine which produces of power. It has a fuel tank of 15+/- 0.5 L and a . The Royal Enfield Himalayan starts at Rs 2.16 and goes up to Rs 2.24 Lakh (ex-showroom, Delhi). It is available in six variants.</p>
        </div>
        <footer>4.5 ⭐ <a href="https://www.bikedekho.com/royal-enfield/himalayan/specifications"><button class="btn btn-success">more....</button></a></footer>
    </article>
            
    <article class="card p-3 m-2">
        <header>
            <h2>Gt 650</h2>
        </header>
        <img src="https://images.news18.com/ibnlive/uploads/2021/11/royal-enfield-650-twins-120th-anniversary-edition-7.jpg?impolicy=website&width=0&height=0" alt="Hot air balloons" alt="Hot air balloons">
        <div class="content">
            <p>The Royal Enfield Continental GT 650 is powered by a 647.95 cc air-cooled engine which produces of power. It has a fuel tank of 12.5 l and a . The Royal Enfield Continental GT 650 starts at Rs 3.19 and goes up to Rs 3.45 Lakh. It is available in seven variants.</p>
        </div>
        <footer>5.0 ⭐ <a href="https://www.bikedekho.com/royal-enfield/continental-gt-650/specifications"><button class="btn btn-success">more....</button></a></footer>
    </article>
    <article class="card p-3 m-2">
        <header>
            <h2>Interceptor</h2>
        </header>
        <img src="https://i.pinimg.com/564x/5f/41/0c/5f410c090e0022b9596496765f5fafca.jpg" alt="Hot air balloons">
        <div class="content">
            <p> The Royal Enfield Interceptor 650 is powered by a 647.95 cc air-cooled engine which produces of power. It has a fuel tank of 13.7 l and a . The Royal Enfield Interceptor 650 starts at Rs 3.03 and goes up to Rs 3.31 Lakh. It is available in seven variants. </p>
        </div>
        <footer>4.6 ⭐ <a href="https://www.bikedekho.com/royal-enfield/interceptor-650/specifications"><button class="btn btn-success">more....</button></a></footer>
    </article>
    <article class="card p-3 m-2">
        <header>
            <h2>Hunter 350</h2>
        </header>
        <img src="https://i.pinimg.com/564x/02/f1/c8/02f1c84592a8bfea326e9a3cb17e302c.jpg" alt="Hot air balloons">
        <div class="content">
            <p>The Royal Enfield Hunter 350 is powered by a 349.34 cc air-cooled engine which produces of power. It has a fuel tank of 13 L and a . The Royal Enfield Hunter 350 starts at Rs 1.50 and goes up to Rs 1.72 Lakh. It is available in three variants. </p>
        </div>
        <footer>4.0 ⭐ <a href="https://www.bikedekho.com/royal-enfield/hunter/specifications"><button class="btn btn-success">more....</button></a></footer>
    </article>
    <article class="card p-3 m-2">
        <header>
            <h2>Meteor</h2>
        </header>
        <img src="https://i.pinimg.com/564x/62/85/39/628539704cf72a25ebad07b3a990e0a4.jpg" alt="Hot air balloons">
        <div class="content">
            <p> The Royal Enfield Meteor 350 is powered by a 349 cc air-cooled engine which produces of power. It has a fuel tank of 15 L and a . The Royal Enfield Meteor 350 starts at Rs 2.01 and goes up to Rs 2.19 Lakh. It is available in six variants. </p>
        </div>
        <footer>3.9 ⭐ <a href="https://www.bikedekho.com/royal-enfield/meteor/specifications"><button class="btn btn-success">more....</button></a></footer>
    </article>
</div>
<br><br><br><br>