
<div class="contactUs">
    <div class="card">
        <h1>Contact Us</h1><br>
        <form>
            <div class="name">
                <p>Name  :</p>  <input type="text">
            </div>
            <div class="name">
                <p>Email :</p> <input type="text">
            </div>
            <div class="name">
                <p>Phone :</p> <input type="text">
            </div>
        </form>
        <button class="btn btn-outline-light">Submit</button>
    </div>
    
</div>
  


